$font_family: sans-serif;
header {
  display:block;
  width:100%;
  height:150px;
  background-color: white;
  font-family: sans-serif;
  z-index:10000000;

  #banner{
    display: flex;
    height:100px;
    width:100%;
    justify-content: center;
    align-items: center;  
  }
  #logo{
    height:51px ;
    width:110px;
  }
  #search-bar{
    height: 54px;
    width: 640px;
    border-radius: 10px;
    margin-left:10px;
    border: 1px solid gainsboro;
  }
  #search-button{
    position: relative;
    background-color: white;
    top: 10px;
    right: 54px;
    border: none;
    height: 26px;
    width: 26px;
  }
  #search-img{
    height: 26px;
    width: 26px;
  }
  nav{
    position: absolute;;
    left:50%;
    transform:translate(-50%);
    display:inline;
    width:100%;
    .nav{
      margin:20px
    }
    .hash{
      color:gray
    }
    img{
      position:relative;
      top:10px;
    }
    #recent-item{
        display: inline-block;
        #recent-popup{
            display: none;
            position:absolute;
            right:5%;
            top:110%;
            width:420px;
            height:540px;
            background-color: white;
            border:1px solid black;
            justify-content: start;
            flex-wrap: wrap;
            align-content: flex-start;
            z-index:0;
            overflow: hidden;
            text-overflow: ellipsis;
            .popup-item{
                display:inline-block;
                margin:5px;
                height: 124px;
                width: 124px;
            }
            img{
                height: 100%;
                width: 100%;
            }
        }
        
    
    }

  }
  #menu{
    $padding-left: 30px;
    $padding-top:5px;
      position:absolute;
      top:120%;
      left:5%;
      background-color: white;
      display: inline-block;
      border:1px solid black;
    #first-layer{
      //100% 적용 안되는 이유?
        height: 600px;
        background-color: rgb(247,247,247);
        display:inline-block;
        vertical-align: top;
        padding-top:$padding-top;
    }
    #second-layer{
        height: 100%;
        width: 200px;
        display:inline-block;
        vertical-align: top;
        padding-top:$padding-top;
    }
    #third-layer{
        height: 100%;
        display:inline-block;
        vertical-align: top;
        padding-top:$padding-top;
    }
    .active{
      background-color:white;
      color:red;
    }
    .active-third{
      background-color:white;
      text-decoration: underline;
    }
    .first-layer{
        width:150px;
        height:45px;
        font-size:18px;
        list-style: none;
        vertical-align: center;
        padding-left:$padding-left;
        padding-top:$padding-top;
    }
    .second-layer{
        width:160px;
        height: 32px;
        font-size:14px;
        list-style: none;
        vertical-align: center;
        padding-left:$padding-left;
        padding-top:$padding-top;
    }
    .third-layer{
        height:32px;
        width:160px;
        font-size:12px;
        list-style: none;
        vertical-align: center;
        padding-left:$padding-left;
        padding-top:$padding-top;
    }
  }
  
}