$font_family: sans-serif;
header {
  display:block;
  width:100%;
  height:150px;
  background-color: white;
  font-family: sans-serif;
  #banner{
    display: flex;
    height:100px;
    width:100%;
    justify-content: center;
    align-items: center;  
  }
  #logo{
    height:51px ;
    width:110px;
  }
  #search-bar{
    height: 54px;
    width: 640px;
    border-radius: 10px;
    margin-left:10px;
    border: 1px solid gainsboro;
  }
  #search-button{
    position: relative;
    background-color: white;
    top: 10px;
    right: 54px;
    border: none;
    height: 26px;
    width: 26px;
  }
  #search-img{
    height: 26px;
    width: 26px;
  }
  nav{
    position: absolute;;
    left:50%;
    transform:translate(-50%);
    display:inline;
    width:100%;
  }
  .nav{
    margin:20px
  }
  .hash{
    color:gray
  }
  img{
    position:relative;
    top:10px;
  }
}