<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <!-- header -->
  <header class="header">
    <!-- header inner -->
    <div class="header-inner">
      <!-- brand logo -->
      <div class="text-center">
        <h1 class="mb-1">쇼핑하우</h1>
        <small class="gray">by kakaocommerce</small>
      </div>
      <!-- search bar -->
      <input type="text" name="search" id="input_search" class="flex ml-4 py-3">
    </div>
    <!-- header nav -->
    <nav class="header-nav">
      <div class="container d-flex flex-center p-relative">
        <button data-hover-show-target="popup_category">☰ 카테고리</button>
        <span class="px-2 gray">|</span>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#">핫딜</a>
          </li>
          <li class="nav-item">
            <a href="#">베스트100</a>
          </li>
          <li class="nav-item">
            <a href="#">할인특가</a>
          </li>
          <li class="nav-item">
            <a href="#">기획전</a>
          </li>
        </ul>
        <span class="d-none d-xl-inline px-2 gray">|</span>
        <ul class="d-none d-xl-inline-flex nav-list gray">
          <li class="nav-item">
            <a href="#">#마스크</a>
          </li>
          <li class="nav-item">
            <a href="#">#스노우체인</a>
          </li>
          <li class="nav-item">
            <a href="#">#DIY키트</a>
          </li>
          <li class="nav-item">
            <a href="#">#비타민</a>
          </li>
          <li class="nav-item">
            <a href="#">#2021팬톤가구</a>
          </li>
        </ul>
        <div class="d-flex ml-auto">
          <button>MY 쇼핑</button>
          <button data-hover-show-target="popup_recent">최근 본 상품</button>
        </div>
        <div id="popup_category" class="d-flex p-absolute top-100 left-0 w-40 p-5 bg-dark"></div>
        <div id="popup_recent" class="d-flex p-absolute top-100 right-0 w-40 p-5 bg-dark"></div>
        </div>
      </div>
    </nav>
  </header>

  <div class="container pt-3">
    <div class="d-flex wrap">
      <div id="box_best_promotion" class="box w-40"></div>
      <div id="box_carousel_promotion" class="box w-60 px-10p"></div>
      <div id="best_items" class="item-card-wrapper d-flex wrap"></div>
      <button id="btn_load_best_items" class="w-100 py-3">더보기</button>
    </div>
  </div>

  <script src="js/util.js"></script>
  <script src="js/myqueryselector.js"></script>
  <script src="js/local_storage.js"></script>

  <script src="js/component/carousel.js"></script>
  <script src="js/component/item_card.js"></script>
  <script src="js/index.js"></script>
</body>

</html>