<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- header -->
  <header class="header">
    <!-- header inner -->
    <div class="header-inner">
      <!-- brand logo -->
      <div class="text-center">
        <h1 class="mb-1">쇼핑하우</h1>
        <small class="gray">by kakaocommerce</small>
      </div>

      <!-- search bar -->
      <div class="p-relative flex-auto ml-4">
        <input type="text" name="shoppinghow_main_search" id="input_search" class="highlight w-100 px-4 py-3">
        <div id="search_helper" class="input-focus-show py-3 w-100 text-small">
          <div id="search_recommend"></div>
          <div id="hot_search"></div>
        </div>
      </div>
    </div>

    <!-- header nav -->
    <nav class="header-nav">
      <div class="container d-flex flex-center p-relative">
        <button data-hover-popup-target="#popup_category">☰ 카테고리</button>
        <span class="px-2 gray">|</span>
        <ul class="nav-list">
          <li role="button" class="nav-item">핫딜</li>
          <li role="button" class="nav-item">베스트100</li>
          <li role="button" class="nav-item">할인특가</li>
          <li role="button" class="nav-item">기획전</li>
        </ul>
        <span class="d-none d-xl-inline px-2 gray">|</span>
        <ul class="d-none d-xl-inline-flex nav-list gray">
          <li role="button" class="nav-item">#마스크</li>
          <li role="button" class="nav-item">#스노우체인</li>
          <li role="button" class="nav-item">#DIY키트</li>
          <li role="button" class="nav-item">#비타민</li>
          <li role="button" class="nav-item">#2021팬톤가구</li>
        </ul>
        <div class="d-flex ml-auto">
          <button>MY 쇼핑</button>
          <button data-hover-popup-target="#popup_recent">최근 본 상품</button>
        </div>

        <!-- category popup -->
        <div id="popup_category" class="hover-popup hover-popup-target top-100 left-0 w-60 p-0" data-hover-popup-target="#popup_category"></div>

        <!-- recent popup -->
        <div id="popup_recent" class="hover-popup hover-popup-target top-100 right-0 w-40" data-hover-popup-target="#popup_recent">
          <!-- recent popup nav -->
          <nav>
            <ul class="nav-list">
              <li class="nav-item">최근 본 상품</li>
              <li class="nav-item">내가 찜한 상품</li>
            </ul>
          </nav>
          <!-- recent popup main section -->
          <div id="recent_view" class="d-flex wrap my-3"></div>
          <!-- recent popup footer -->
          <div class="d-flex flex-center">
            <div>
              <strong>dewy.i</strong>
            </div>
            <button class="gray ml-auto">로그아웃이 왜 여기에</button>
          </div>
        </div>
        </div>
      </div>
    </nav>
  </header>

  <!-- main view -->
  <div class="container pt-3">
    <div class="d-flex wrap">
      <div id="box_best_promotion" class="box w-40"></div>
      <div id="box_carousel_promotion" class="box w-60 px-10p"></div>
      <div id="best_items" class="item-card-wrapper d-flex wrap" data-recent-view="#recent_view"></div>
      <button id="btn_load_best_items" class="w-100 py-3">더보기</button>
      <div id="box_carousel_hot" class="box w-100"></div>
    </div>
    <footer class="p-5 mt-5">footer</footer>
  </div>
</body>

</html>