.margin-zero {
    margin: 0;
}
.margin-center {
    margin: 0 auto;
}
.margin-auto {
    margin: auto;
}
.border-gray {
    border: solid 1px #eee;
}
.horizontal {
    display: flex;
    flex-direction: row;
}

.transparency {
    visibility: hidden;
}
.btn--prev {
    position: absolute;
    top: 50%;
    cursor: pointer;
}
.btn--next {
    position: absolute;
    right: 0;
    top: 50%;
    cursor: pointer;
}
.page-box {
    height: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    top: 280px;
    z-index: 2;
}
.page {
    width: 20px;
    height: 15px;
    margin: auto 1px;
    background-color: #ccc;
    
}
.d-off {
    display: none;
}
.d-on {
    display: block;
}