.margin-zero {
    margin: 0;
}
.margin-center {
    margin: 0 auto;
}
.margin-auto {
    margin: 20px auto;
}
.border-gray {
    border: solid 1px #eee;
}
.horizontal {
    display: flex;
    flex-direction: row;
}

.transparency {
    visibility: hidden;
}
.btn--prev {
    float: left;
    position: absolute;
    top: 50%;
}
.btn--next {
    float: right;
    top: 50px;
}