.head {
  position: fixed;
  width: 100%;
  height: 180px;
  background-color: #ffffff;
  z-index: 2;
}

header {
  position:fixed;
  padding-top: 15px;
  width: 100%;
  height: 110px;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #d2d2d2;
}

.shw-logo {
  position: absolute;
  width: 7%;
  height: 52px;
  margin-top: 23px;
  margin-left: -24%;
}

.search-input {
  position: absolute;
  width: 34%;
  height: 50px;
  margin-top: 20px;
  margin-left: -15%;
  padding-left: 40px;
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  font-size : 20px;
  font-weight: bold;
  color: #6d6d6d;
}

.search-button {
  position: absolute;
  cursor: pointer;
  margin-top: 31px;
  margin-left : 18%;
  background-color: #ffffff;
  border: 0px;
}

.search-img {
  width: 31px;
  height: 28px;
}