body {
    background-color: #eee;
}
.header {
    background-color: #fff;
    width: 100%;
    height: 164px;
    padding-top: 50px;
    border-bottom: solid 1px #ccc;
}
.header__logo-box {
    width: 645px; 
    height: 56px;
}
.header__logo {
    width: 120px;
    height: 100%;
}
.header__search {
    width: 500px;
    height: 100%;
    margin-left: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}
.header__nav {
    width: 100%;
    height: 56px;
    margin-top: 50px;
    border-top: 1px solid #ccc;
}
.header__nav__ul {
    height: 100%;
    width: 1300px;
    padding-left: 0;
    list-style:none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.header__nav__menu {
    height: 38px;
    font-size: 20px;
    position: relative;
    padding-top: 20px;
    font-weight: bold;
    cursor: pointer;
}
.container {
    width: 1300px;
}
.container--basic-item {
    width: 1300px;
}
.container--more {
    width: 1300px;
    height: 70px;
}
.container__margin {
    width: 100%;
    height: 15px;
}
.container__box {
    width: 100%;
    height: 380px;
    background-color: #fff;
    position: relative;
}
.container__item--carousel {
    width: 780px;
    height: 380px;
    box-sizing: border-box;
    position: relative;
}
.container__item--basic {
    width: 260px;
    height: 380px;
    box-sizing: border-box;
    
}
.container__item--best {
    width: 520px;
    height: 380px;
    box-sizing: border-box;
}
.container__subject {
    width: 100%;
    height: 24px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}
.container__more {
    width: 100%;
    height: 70px;
    font-size: 24px;
    background-color: #ddd;
    margin: 0 auto;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.container__item--basic__img {
    width: 200px;
    height: 200px;
    margin-top: 30px;
    margin-left: 30px;
    cursor: pointer;

}
.container__item--best__img {
    width: 485px;
    height: 340px;
    position: relative;
    top:20px;
    display: block;
}
.container__item--carousel__box {
    width: 485px;
    height: 340px;
    display: block;
    position: relative;
    overflow: hidden;
}
.container__item--carousel__img {
    width: 485px;
    height: 340px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    
}
.container__item--basic__title {
    margin-left: 30px;
    font-size: 14px;
    font-weight: bold;
}
.container__item--basic__sub-title {
    margin-left: 30px;
    font-size: 13px;
    color: #666;
}
.container__item--basic__price {
    margin-left: 30px;
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;
}
.container__item--basic__company {
    margin-left: 30px;
    margin-top: 30px;
    font-size: 12px;
    color: #999;
}
.footer {
    width: 100%;
    height: 150px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    margin-top: 20px;
}
.popup {
    width: 400px;
    height: 600px;
    padding-top: 20px;
    padding-left: 20px;
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: #fff;
    border: 1px solid #999;
    z-index: 3;
    display: none;
}
.popup__title {
    width: 100%;
    height: 20px;
    font-weight: lighter;
    overflow: wrap;
}
.popup__img {
    width: 120px;
    height: 120px;
}
.category-img{
    width: 18px;
    height: 18px;
    margin-right: 5px;
    margin-top: 2px;
}

.category--box {
    width: 560px;
    height: 500px;
    position: absolute;
    top:100%;
    z-index: 5;
    box-sizing: border-box;
    border: 1px solid #000;
}
.category--large {
    background-color: #c9d6de;
    width: 180px;
    height: 100%;
}
.category--medium {
    background-color: #f0f5f9;
    width: 190px;
    height: 100%;
    display: none;
}
.category--small {
    background-color: #f0f5f9;
    width: 190px;
    height: 100%;
    overflow: auto;
    display: none;
    border-left: 1px solid #bbb;
}
.category--large--picked {
    background-color: #c9d6de;
    width: 180px;
    height: 100%;
}
.category--medium--picked {
    background-color: #f0f5f9;
    width: 190px;
    height: 100%;
}
.category--small--picked {
    background-color: #f0f5f9;
    width: 190px;
    height: 100%;
    overflow: auto;
    border-left: 1px solid #bbb;
}
.category--large__item {
    width: 100%;
    height: 45px;
    font-size: 16px;
    padding-left: 20px;
    box-sizing: border-box;
    font-weight: 500;
    padding-top: 14px;
}
.category--medium__item {
    width: 100%;
    height: 32px;
    font-size: 12px;
    padding-left: 20px;
    box-sizing: border-box;
    color: #222;
    font-weight: normal;
    padding-top: 10px;

}
.category--small__item {
    width: 100%;
    height: 32px;
    font-size: 13px;
    padding-left: 20px;
    box-sizing: border-box;
    color: #222;
    font-weight: normal;
    padding-top: 10px;
}

.category--large__item--picked {
    background-color: #f0f5f9;
    width: 100%;
    height: 45px;
    font-size: 16px;
    padding-left: 20px;
    box-sizing: border-box;
    color: rgb(255, 90, 14);
    font-weight: 500;
    padding-top: 14px;
}
.category--medium__item--picked {
    width: 100%;
    height: 32px;
    font-size: 12px;
    padding-left: 20px;
    box-sizing: border-box;
    color:rgb(255, 90, 14);
    font-weight: normal;
    padding-top: 10px;

}
.category--small__item--picked {
    width: 100%;
    height: 32px;
    font-size: 13px;
    padding-left: 20px;
    box-sizing: border-box;
    color: #222;
    font-weight: normal;
    padding-top: 10px;
    text-decoration: underline;
}
.input-box {
    width: 90%;
    height: 80%;
    margin-left: 20px;
    padding-top: 12px;
    font-size: 30px;
}
input:focus {
    outline: none;
}