<!DOCTYPE html>
<html>
    <head>
        <title>쇼핑하우</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/common.css">
    </head>
    <body class="margin-zero">
        <div class="header margin-zero">
            <div class="header__logo-box margin-center horizontal">
                <img src="image/logo.png" class="header__logo">
                <div class="header__search border-gray"></div>
            </div>
            <div class="header__nav">
                <ul class="header__nav__ul margin-center horizontal">
                    <li class="header__nav__menu">최근 본 상품
                        <div class="popup horizontal" id="popup" style="display: none;">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container margin-center">
            <!-- main.js 에서 rendering -->
        </div>
        <div class="container--basic-item margin-center">
            <!-- main.js 에서 rendering -->
        </div>
        <div class="container--more margin-center">
            <div class="container__more">
                <div class="margin-center">더보기</div>
            </div>
        </div>
        <div class="footer">footer</div>

        <script src="js/carousel.js"></script>
        <script src="js/render.js"></script>
        <script src="js/DOM_search_api.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>