<!DOCTYPE html>
<html>
    <head>
        <title>쇼핑하우</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/common.css">
    </head>
    <body class="margin-zero">
        <div class="header margin-zero">
            <div class="header__logo-box margin-center">
                <img src="image/logo.png" class="header__logo horizontal">
                <div class="header__search border-gray horizontal"></div>
            </div>
        </div>
        <div class="header__nav"></div>
        <div class="container"></div>
        <script src="javascript/controller.js"></script>
    </body>
</html>