<!DOCTYPE html>
<html>
    <head>
        <title>쇼핑하우</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/common.css">
    </head>
    <body class="margin-zero">
        <div class="header margin-zero">
            <div class="header__logo-box margin-center horizontal">
                <img src="image/logo.png" class="header__logo">
                <div class="header__search border-gray"></div>
            </div>
            <div class="header__nav"></div>
        </div>
        <div class="container margin-center">
            <!-- main.js 에서 rendering -->
        </div>
        <div class="container--basic-item margin-center">
            <!-- main.js 에서 rendering -->
        </div>
        <div class="container--more margin-center"></div>
        <div class="footer">footer</div>

        <script src="js/carousel.js"></script>
        <script src="js/render.js"></script>
        <script src="js/DOM_tree_search_api.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>